.allAccount{
  height: 1.44rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  border-bottom:1px solid #f9f9f9;
  .input{
    background: #f8f8f8;
    height: 0.98rem;
    margin-left: 0.06rem;
    display: flex;
    align-items: center;
    >input{
      background: #f8f8f8;
      border: 0;
    }
    >input::-webkit-input-placeholder{
      font-size:0.26rem;
      font-family:PingFangSC-Medium;
      font-weight:500;
      color:rgba(51,51,51,1);
      line-height:37px;
      text-align: center;
    }
  }
}
.des{
  background: #f8f8f8;
  margin-left: 0.1rem;
  >div{
    width:1.79rem;
    height: 0.98rem;
    margin-left: 0.12rem;
    border: none;
    line-height: 0.89rem;
    display: inline-block;
  }
}