.noMargin{
  width: 1.8rem;
  height: 1.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .img {
    width: 0.78rem;
    height: 0.78rem;
    border-radius: 50%;
  }

  .des {
    margin-top: 0.16rem;
    font-size: 0.26rem;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
  }
}
.activeBtn{
  &:active{
    background-color: #f8f8f8;
  }
}